:root {
  /* COLORS */
  --color-red: #ED1C24;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #828282;
  --color-light-gray: #F2F2F2;
  --color-green: #2ecc71;

  /* TYPES */
  --type-fire: #EE7F33;
  --type-fire: #EE7F33;
  --type-normal: #A9A778;
  --type-water: #6890F0;
  --type-grass: #78C84F;
  --type-ice: #98D8D7;
  --type-poison: #A040A1;
  --type-ground: #E0C069;
  --type-flying: #A790EF;
  --type-bug: #A8B821;
  --type-rock: #B6A037;
  --type-ghost: #705797;
  --type-dragon: #724EF9;
  --type-dark: #6F5848;
  --type-steel: #B8B8D0;
  --type-fairy: #F4C8E2;
  --type-psychic:	#E95587;
  --type-electric: #F8CF32;
  --type-fighting: #C03228;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', Arial, sans-serif;
  outline: none;
}
